<%- include('templates/header') -%>
        <header>
            <div id="Heading">
                <img src="AI_logo.gif" alt="img"/>
                <h1>Artificial Intellegence </h1>
             </div>
        </header>
        <p id="randomInfo">Date: <%= recentDate %></p>
        <nav> 
            <a href="/">Home</a>
            <a href="/buisness">Buisness</a>
            <a href="/robotics">Robotics</a>
            <a href ="/computerVision">Computer Vision</a>
        </nav>
        <br /><br />
        
        <main>
            
            <figure id="AI">
                <img src="AI_1.gif" alt="Image of AI"/>
            </figure>
            <div id="welcomeText">
                <p>Artificial Intellegence or AI makes it possible<br/>for machines to learn from experience.</p>
                <p>It also allows them to adjust to new input and preform human like task.<br/> The term artificial intellegence was coined in 1956.</p>
                <p>Artificial Intellegence was very popular until 1974.</p>
                <p>People who worked on AI were receiving very little funding<br/> for their work which slowed the advancement of AI.</p> 
                <p>This was known as the first AI winter.</p>
                <p>After 1980 there was a boom in the interest of AI.</p>
                <p>The reason was becuase of Expert systems which <br/>were programmed to emulate the decision making ability of a human expert.</p>
                <p>Why is Artificial Intellegence important?</p>
                <ol>
                    <li>AI adds intelligence to existing products.</li>
                    <li>AI adapts through progressive learning algorithms to let the data do the programming.</li>
                    <li>AI achieves incredible accuracy through deep neural networks which was previously impossible.</li>
                </ol>
                <em>"Our intellegence is what makes us human,and AI <strong><br />
                is an extension</strong> of that quality"</em><br />
                - Yann LeCun Professor, New York University
                <h2>More on Artificial Intellegence:</h2>
                <p><a id="Button" href="https://www.sas.com/en_us/insights/analytics/what-is-artificial-intelligence.html">Link</a></p>
                <br/><br/>
            </div>
        </main>
<%- include('templates/footer') -%>