<%- include('templates/header') -%>
        <header>
            <div id="Heading">
                <img src="AI_logo.gif" alt="img"/>
                <h1>Artificial Intellegence </h1>
             </div>
        </header>
        <p id="randomInfo">Date: <%= recentDate %></p>
        <nav> 
            <a href="/">Home</a>
            <a href="/buisness">Buisness</a>
            <a href="/robotics">Robotics</a>
            <a href ="/computerVision">Computer Vision</a>
        </nav>
        <br /><br />
        
        <main>
            
            <figure id="Robotics">
                <img src="robotics.gif" alt="Gif of robotics"/>
            </figure>
            <div id="Subtopic2">
                <p>Robitics is another area that takes advantage of Artificial Intellegence.<br/>Artificial Intellegence in robotics is very useful because <br/> it helps makes production of products easier.</p>
                <p>AI is useful in assembly because AI can correct its course while in production which<br/> is very valuable in areas like aerospace because of the complex products being manufactured.</p>
                <p>Robotics is also used in packaging which also uses artificial intelligence.</p>
                <p>Artificial Intellegence helps packaging robots to save certain moves while also refining those movements<br/>which helps to lower the cost and makes packaging more accurate.</p>
                <h2>More on Artificial Intellegence:</h2>
                <p><a id="Button" href="https://www.robotics.org/blog-article.cfm/How-Artificial-Intelligence-is-Used-in-Today-s-Robots/117">Link</a></p>
                <br/><br/>
            </div>
        </main>
<%- include('templates/footer') -%>