<%- include('templates/header') -%>
        <header>
            <div id="Heading">
                <img src="AI_logo.gif" alt="img"/>
                <h1>Artificial Intellegence </h1>
             </div>
        </header>
        <p id="randomInfo">Date: <%= recentDate %></p>
        <nav> 
            <a href="/">Home</a>
            <a href="/buisness">Buisness</a>
            <a href="/robotics">Robotics</a>
            <a href ="/computerVision">Computer Vision</a>
        </nav>
        <br /><br />
        
        <main>
            
            <figure id="AI">
                <img src="siri.gif" alt="Gif of siri"/>
            </figure>
            <div id="Subtopic1">
                <p>Artificial Intellegence is widely used in buisness.<br/>Some common usage of AI in buisness are:</p>
                <ol>
                    <li>Banking and Finance: fraud detection</li>
                    <li>Retail: online customer support</li>
                    <li>Security</li>
                </ol>
                <p>Banking uses AI by giving an AI application <br/> a large amount of data that includes fraudulent and non fraudulent purchases</p>
                <p>and the application adapts based on transactions being made and checks <br/> if the transaction is valid or not based on the data it was given.</p>
                <p>Another use of AI in buisness is in retail.<br/>Many buisnesses and applications have some sort of customer services where you can ask assistance.</p> 
                <p>In many cases the the conversation starts of with some form of automated AI <br/> and these AI chat bots are capable of understanding natural language.</p>
                <p>Artificial Intellegence is also used in security for buisness.</p>
                <p>By implementing machine learning and inputing a large amount of data<br/>company staff can teach the AI solution to monitor behaviour, detect anomalies, adapt and <br/> respond to threats and issue alerts</p>
                <h2>More on Artificial Intellegence:</h2>
                <p><a id="Button" href="https://www.extension.harvard.edu/professional-development/blog/business-applications-artificial-intelligence-what-know-2019">Link</a></p>
                <br/><br/>
            </div>
        </main>
<%- include('templates/footer') -%>