        <footer>
            <hr> 
            Internet Programming. 2020&copy; Aguirre<br />
            <strong>Disclamer:</strong>The information in this website is fictitous. <br />
            It is used for academic purposes only.<br/>
            <img src="csumblogo.jpg" alt="CSUMB"/>
        </footer>
    </body>
</html>