<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="app.css" rel="stylesheet" type="text/css" />
        <title>Julio Aguirre: Artificial Intellegence</title>
        
    </head>
    <body>